<section>

  <h3>Let's work together</h3>
  
  <form action="" method="post" id="contact-form">
    
    <fieldset class="contact-info-group">
      <label for="input-name"><span>Your Name</span>
      <input type="text" name="name" id="input-name" required></label>

      <label for="input-email"><span>Your Email</span>
      <input type="email" name="email" id="input-email" required></label>
    </fieldset>

    <label for="input-message"><span>Tell me about your project</span>
    <textarea name="message" id="input-message" required></textarea></label>

    <div class="submit-wrap"><input type="submit" name="submit" id="input-submit" value="Send"></div>

  </form>

</section>